* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* #region main */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/8);
    aspect-ratio: 1/1;
    padding: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: yellow;
}
/* #endregion */